<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">クイズをつくる</div>
    <div class="panel-body">

　　   <%= form_for(@newquiz, url: quizzes_path, method: :post) do |f| %>
        <div class="form-group">
   	        <%= f.label "お題をえらぶ" , class: "control-label"%><br />
            <%= f.collection_select :theme_id , @themes , :id, :theme ,class: "form-control"%><br />
        </div>
        <div class="form-group">
            <%= f.label "好きなタイトルをえらぶ" %>
            <span class="required">必須</span><br />
            <%= f.collection_select :movie_id, @movies, :id, :title ,class: "form-control"%><br />
        </div>
        <div class="form-group">
   	        <%= f.label "絵文字をえらぶ " , class: "control-label"%><br />
             <span><small>※選んだタイトルを絵文字で表現してください</small></span><br />
             <span><small> 例：ハリーポッター=>1:🧹2:⚡︎3:👦</small></span><br />
            <%= f.label "1" %>
   	        <%= f.text_field :emoji %>
            <span class="required">必須</span><br />
            <%= f.label "2" %>
            <%= f.text_field :emoji2 %>
            <span class="required">必須</span><br />
            <%= f.label "3" %>
            <%= f.text_field :emoji3 %>
            <span class="required">必須</span><br />
        </div>
        <div class="form-group">
   	        <%= f.label "問題文をつくる", class: "control-label" %>
            <span class="required">必須</span><br />
            <%= f.label "Q" %>
   	        <%= f.text_field :question %><br />
        </div>
        <div class="form-group">
   	        <%= f.label "選択肢をつくる", class: "control-label"%><br />
            <span class="required">必須</span>
            <%= f.label "[答え]の選択肢" %>
  	        <%= f.text_field :answer %><br />
            <span class="required">必須</span>
            <%= f.label "2つめの選択肢" %>
   	        <%= f.text_field :answer2 %><br />
            <span class="required">必須</span>
            <%= f.label "3つめの選択肢" %>
            <%= f.text_field :answer3 %><br />
        </div>

          <%= f.submit '作成する',class: "btn btn-default" %>

      <% end %>
</div>



