<div id="playbox">
	<div class="title-box">
		<p><strong>第<%= session[:quiz_num]+1 %>問</strong></p>
		<p>絵文字から作品をイメージして答えよう！</p>
	</div>

	<div class="emogi-container">
	    <div class="emoji-box">
			<p><%= @quiz.emoji %></p>
		</div>
		<div class="emoji-box">
		    <p><%= @quiz.emoji2 %></p>
		</div>
		<div class="emoji-box">
			<p><%= @quiz.emoji3 %></p>
		</div>
	</div>

	<div class="question-box">
		<p>Q:<%= @quiz.question %></p>
	</div>

    <div class="choice-box">
    	<%= form_tag result_quiz_path, method: :get do %>
        <% @options.each do |option| %>
    	<p><%= submit_tag option, name:"choice", class: "answer-button" %></p>
    	    <% end %>
    	<% end %>

	</div>

</div><!---playbox--->