<div id="resultbox">
  <h1>クイズ結果</h1>

    <div class="result">
    	<%= @quiz.result %>
    　　<p>正解は<%= @quiz.answer %>でした！</p>
    </div>

    <div id="column">
    	<h4><strong>クイズに出てきた作品は..</strong></h4>

    	<%= attachment_image_tag @movie, :image, :fill, 110, 110, format: 'jpeg', class: "rounded pull-left movie-img", fallback: "#" %>
      <ul class="movie-text">
         <li><p><strong>制作年|</strong><%= @movie.year %>年</p></li>
         <li><p><strong>タイトル|</strong><%= @movie.title %></p></li>
         <li><p><strong>作品紹介|</strong><%= @movie.column %></p></li>
      </ul>
    </div>

      <% if session[:quiz_num] == 4 %>
        		<%= form_tag total_quiz_path, method: :get do %>
        			<%= submit_tag '結果は..', class: "btn btn-danger button col-xs-5" %>
        		<% end %>
      <% else %>
        		<%= form_tag play_quiz_path, method: :get do %>
        			<%= submit_tag '次へ', class: "btn btn-info button col-xs-5" %>
        		<% end %>
      <% end %>
</div>