<div id="totalbox">
  <h1 class="total-title">クイズ結果</h1>

	<div class="total-result">
		<h2>5問中<%= session[:result].count(true) %>問正解でした！</h2>
		<% session[:result].each do |result| %>
		<span class="total"><%= result ? '○' : '×' %></span>
		 <% end %>
	</div>

<!--
		<%= @movie.title %>
		<%= session[:quizzes_id].each do |id| %>
		   @movies = Quiz.find(params[:id])
		   <%= id %>
		<% end %> -->

		<!-- 5つの結果を取得if result? ="○","×" で表示-->


	<div class="total-button"><br />
		<%=link_to"もう1度挑戦！", play_quiz_path, class:"btn btn-warning" %>
		<%=link_to"TOPへ", "/", class:"btn btn-info" %><br />
	</div><!--total-button-->

</div>