<div id="totalbox">
	<div class="total-result">
		<!-- 判定 -->
			<h1>5問中<%= session[:result].count(true) %>問正解でした!</h1>
			<h5>【あなたの称号】</h5>
			 <%= render "playquizzes/title" %>

	　　<h4><strong>知らない作品はチェックしてね!</strong></h4>

		<div class="moviebox">
			   	<% session[:result].zip(@quizzes).each do |result, quiz| %>
			   	  <div class="moviebox-item">
					     <span class="jadge"><%=result ? '○' : '×' %></span>
					 	   <%= attachment_image_tag quiz.movie, :image, size: "100x100", format:"jpg", class: "img-circle" %>
						   <p><%= quiz.movie.title%></p>
					  </div>
				  <% end %>
		</div><!--moviebox-->
		<!--twitter-->
        <br><%= render "playquizzes/social"%>
	</div><!--total-result-->

<div class="total-button"><br />
		<%=link_to"リトライ!", play_quiz_path, class:"btn btn-warning col-xs-6 btn-lg" %>
		<%=link_to"TOPへ", "/", class:"btn btn-info col-xs-6 btn-lg" %>
	</div><!--total-button-->
</div><!--total-box-->

