
  <%= form_for(movie, url: admins_movies_path, method: :post) do |f| %>

    <p>画像</p>
    <%= f.attachment_field :image %>
    <p>お題</p>
    <%= f.select :theme_title, Movie.theme_titles_i18n.keys.map {|k| [I18n.t("enums.movie.theme_title.#{k}"), k]} %><br />
    <p>制作年</p>
    <%= f.select :year, Movie.years.keys, :selected=>Movie.years[movie.year] %>
    <p>タイトル</p>
    <%= f.text_field :title %>
   	<p>コラム</p>
    <%= f.text_area :column %>
  	<%= f.submit '作成'%>

  <% end %>