<div class="wrapper">
  <div class="element">

    <h2>movie情報作成</h2>
    <%= form_for(@newmovie, url: admins_movies_path, method: :post) do |f| %>

    <p>画像</p>
    <%= f.attachment_field :image %>
    <p>お題</p>
    <%= f.collection_select :theme_id, @themes, :id, :theme %><br />
    <p>制作年</p>
    <%= f.select :year, Movie.years.keys, :selected=>Movie.years[@newmovie.year] %>
    <p>タイトル</p>
    <%= f.text_field :title %>
    <p>コラム</p>
    <%= f.text_area :column %>
    <%= f.submit '作成'%>

  <% end %>

  </div>

<div class="element">
<!--  映画情報一覧 -->
    <table class="table table-default">
      <tr>
        <th>画像</th>
        <th>作品名</th>
        <th>コラム</th>
        <th>制作年</th>
        <th>お題</th>
        <th colspan="2"></th>
      </tr>
      <% @movies.each do |movie| %>
      <tr>
          <td><%= attachment_image_tag movie, :image, :fill, 50, 50, format:"jpg", class: "img-circle pull-left" %></td>
          <td>
            <%=link_to movie.title, edit_admins_movie_path(movie.id) %>
          </td>
          <td><%= movie.column %></td>
          <td><%= movie.year %></td>
          <td><%= movie.theme_title_i18n %></td>
          <td>
            <%= link_to '編集', edit_admins_movie_path(movie.id),class: "label label-success " %>
            <%= link_to '削除', admins_movie_path(movie.id),class: "label label-danger", method: :delete, data: {confirm: "削除しますか？"} %>
          </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>