
<%= form_for(user) do |f| %>

    <div class="field row">
	<%= f.label "名前" %>
  	<%= f.text_field :name,class: "col-xs-12 user-name" %>
    </div>

    <div class="field row">
  	<%= f.label "メールアドレス" %>
  	<%= f.text_field :email,class: "col-xs-12 user-email" %>
    </div><br />

  	<%= f.submit "変更する", class: "btn btn-info col-xs-12" %>

<% end %>