<p><strong><%= flash[:notice] %></strong></p>

<h2>ã‚¯ã‚¤ã‚ºä¸€è¦§</h2>
<!-- ã‚¯ã‚¤ã‚ºä¸€è¦§ -->
<div class="element">

    <table class="table table-default">
        <tr>
          <th>çµµæ–‡å­—ðŸ˜„</th>
          <th>Question</th>
          <th colspan="2">ç·¨é›†</th>
        </tr>
        <% @quizzes.each do |q| %>
        <tr>
            <td><%= q.emoji%>
                <%= q.emoji2%>
                <%= q.emoji3%>
            </td>
            <td><%= q.question%></td>
            <td>
              <%=link_to "ç·¨é›†",edit_quiz_path(q), class:"btn btn-success"%>
              <%=link_to "å‰Šé™¤" ,quiz_path ,method: :delete,
             "data-confirm"=>"æœ¬å½“ã«å‰Šé™¤ã—ã¾ã™ã‹ï¼Ÿ", class:"btn btn-danger " %>
            </td>
        </tr>
        <% end %>
    </table><!--quiz-table -->
    <div class="text-center"><%= paginate @quizzes %></div>

</div>