<div class="home">
  <p><strong><%= notice %></strong></p>
<h2>クイズ一覧</h2>
<!-- クイズ一覧 -->

    <table class="table table-default">
        <tr>
          <th>絵文字😄</th>
          <th>Question-問題-</th>
          <th>選択肢</th>
          <th colspan="2">編集</th>
        </tr>
        <% @quizzes.each do |q| %>
        <tr>
            <td><%= q.emoji%>
                <%= q.emoji2%>
                <%= q.emoji3%>
            </td>
            <td><%= q.question%></td>
            <td>
              <ol>
                <li><%= q.answer%></li>
                <li><%= q.answer2%></li>
                <li><%= q.answer3%></li>
              </ol>
            </td>
            <td>
              <%=link_to "編集",edit_quiz_path(q), class:"btn btn-success"%>
              <%=link_to "削除" ,quiz_path(q) ,method: :delete,
             "data-confirm"=>"本当に削除しますか？", class:"btn btn-danger " %>
            </td>
        </tr>
        <% end %>
    </table><!--quiz-table -->
    <div class="text-center"><%= paginate @quizzes %></div>

</div>