<!DOCTYPE html>
<html>
  <head>
    <title>む〜び〜Q</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!-- header -->
 <body>
  <header class="header navwrapper">
      <h1><a class="logo" href="/">む〜び〜Q</a></h1>
      <nav>
          <ul class="main-nav">
      <!--ユーザーサインイン時　-->
            <% if user_signed_in? %>
                <li><%= link_to " Home", user_home_path(current_user), class: "nav" %></li>
                <li><%= link_to " クイズをつくる", new_quiz_path, class: "nav" %></li>
                <li><%= link_to " 挑戦", play_quiz_path, class: "nav" %></li>
                <li><%= link_to " 設定", edit_user_path(current_user), class: "nav" %></li>
                <li> <%= link_to " ログアウト", destroy_user_session_path, method: :delete, data: {confirm: "ログアウトしますか？"}, class: "nav" %></li>
      <!--ユーザーサインアウト時　-->
            <% else %>
                <li><%= link_to " このサイトについて", "#about", class: "nav" %></li>
                <li><%= link_to " 挑戦", play_quiz_path, class: "nav" %></li>
                <li><%= link_to " 新規登録", new_user_registration_path, class: "nav" %></li>
                <li><%= link_to " ログイン", new_user_session_path, class: "nav" %></li>
              <% end %>
          </ul><!--main-nav-->
        </nav>
    </header><!--all-header wrapper-->
      <div id="wrapper">
          <div class="home-content wrapper">
             <%= yield %>
          </div>
<!-- footer -->
          <footer>
            <p class="text">2020 Presented by movieQ.</p>
          </footer>
      </div>
  </body>
</html>
